<div class="container mt-2">
  <div class="p-3 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
      <h1 class="display-3 fw-bold">{{appname}}</h1>
      <p class="col-md-8 fs-4">Welcome to {{appname}}!</p>
    </div>
 
  </div>
</div>

<div class="alert alert-primary" role="alert">
   The Last selected product is : {{selectedProduct}}
</div>


<div class="p-3 mb-4 bg-primary text-white rounded-3" style="overflow: hidden;">
  <div class="container-fluid py-3">
    <h2 class="display-5">Products</h2>
    <div class="col-md-8 fs-4">
       <app-topic-box *ngFor="let x of products"
        [pname]="x"
        (send)="receiveProduct($event)"
        ></app-topic-box>  
    </div>
  </div>
</div>

<div class="card mt-4" >
  <div class="card-header">
    <h2>Readable news list</h2>
  </div>
  <div class="card-body">
    <app-info-item *ngFor="let x of messages" [msg]="x" >
    ></app-info-item>

  </div>
</div>