<div class="container mt-2">
  <div class="p-3 mb-4 bg-light rounded-3">
    <div class="container-fluid py-3">
      <h1 class="display-3 fw-bold">{{appname}}</h1>
      <p class="col-md-8 fs-4">Welcome to {{appname}}!</p>
    </div>
  </div>
</div>
<div class="card mt-4" >
  <div class="card-header">
    <h2>Readable news list</h2>
  </div>
  <div class="card-body">
    <app-info-item></app-info-item>
    <app-info-item></app-info-item>
    <app-info-item></app-info-item>
    <app-info-item></app-info-item>
    <app-info-item></app-info-item>
  </div>
</div>